Prepare

In [1]:
USE master;
GO
DROP DATABASE IF EXISTS [dfu23e_views];
GO
CREATE DATABASE [dfu23e_views];
GO
USE [dfu23e_views];

Setup tables

In [2]:
DROP TABLE IF EXISTS Employees;
DROP TABLE IF EXISTS Departments;
GO

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName NVARCHAR(50),
    LastName NVARCHAR(50),
    DepartmentID INT
);

CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName NVARCHAR(50)
);
GO

INSERT INTO Departments (DepartmentID, DepartmentName)
VALUES
    (1, 'HR'),
    (2, 'Finance'),
    (3, 'IT');

INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES
    (1, 'John', 'Doe', 1),
    (2, 'Jane', 'Smith', 2),
    (3, 'Bob', 'Johnson', 1),
    (4, 'Alice', 'Williams', 3);

Create view

In [3]:
CREATE VIEW EmployeeDetails AS
SELECT
    E.EmployeeID,
    E.FirstName,
    E.LastName,
    D.DepartmentName
FROM
    Employees E
JOIN
    Departments D ON E.DepartmentID = D.DepartmentID;

Run

In [5]:
SELECT * FROM EmployeeDetails;

EmployeeID,FirstName,LastName,DepartmentName
1,John,Doe,HR
2,Jane,Smith,Finance
3,Bob,Johnson,HR
4,Alice,Williams,IT