Prepare

In [4]:
USE master;
GO
DROP DATABASE IF EXISTS [dfu23e_sp];
GO
CREATE DATABASE [dfu23e_sp];
GO
USE [dfu23e_sp];

Basic example

In [7]:
DROP PROCEDURE IF EXISTS BasicExampleProcedure;
GO

CREATE PROCEDURE BasicExampleProcedure
AS
BEGIN
    PRINT 'What a wonderful world';
END
GO

EXEC BasicExampleProcedure;

Example of stored procedure

Pre populate data

In [23]:
DROP TABLE IF EXISTS cities;
GO

CREATE TABLE countries (
    country_code CHAR(2) PRIMARY KEY,
    country_name NVARCHAR(100)
);

INSERT INTO countries (country_code, country_name)
VALUES
    ('GB', 'United Kingdom'),
    ('DK', 'Denmark'),
    ('DE', 'Germany'),
    ('SE', 'Sweden');

CREATE TABLE cities (
    city_id INT PRIMARY KEY IDENTITY(1,1),
    city_name NVARCHAR(100),
    population INT,
    country_code CHAR(2)
);

INSERT INTO cities (city_name, population, country_code)
VALUES
    ('Copenhagen', 602481, 'DK'),
    ('Aarhus', 347235, 'DK'),
    ('Aalborg', 217075, 'DK'),
    ('Odense', 204895, 'DK'),
    ('Hamburg', 1841179, 'DE'),
    ('Berlin', 3769495, 'DE'),
    ('Munich', 1471508, 'DE'),
    ('Stockholm', 975551, 'SE'),
    ('Paris', 12, 'DK');

Stored Procedure

In [27]:
DROP PROCEDURE IF EXISTS spGetCitiesByCountryAndMinPop;
GO

CREATE PROCEDURE dbo.spGetCitiesByCountryAndMinPop
    @CountryCode CHAR(20),
    @Pop INT
AS
BEGIN
    SELECT *
    FROM dbo.cities AS c
    INNER JOIN dbo.countries AS co
    ON c.country_code = co.country_code
    WHERE co.country_code = @CountryCode
        AND c.population >= @Pop
END
GO

EXEC spGetCitiesByCountryAndMinPop @CountryCode = 'DK', @Pop = 300000;

city_id,city_name,population,country_code,country_code,country_name
1,Copenhagen,602481,DK,DK,Denmark
2,Aarhus,347235,DK,DK,Denmark