Reset and preapre

In [2]:
USE master;
GO
DROP DATABASE IF EXISTS [dfu23e_functions];
GO
CREATE DATABASE [dfu23e_functions];
GO
USE [dfu23e_functions];

Basic example of a function

In [3]:
DROP FUNCTION IF EXISTS [HelloWorld]
GO

CREATE FUNCTION HelloWorld()
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @message NVARCHAR(100) = 'Hello World';
    RETURN @message;
END;
GO

PRINT dbo.HelloWorld();

Function doing calculations based on input

In [1]:
DROP FUNCTION IF EXISTS dbo.CalculateTotalPrice;
GO

CREATE FUNCTION CalculateTotalPrice(@price DECIMAL(10, 2), @quantity INT)
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @total DECIMAL(10, 2);
    SET @total = @price * @quantity;
    RETURN @total;
END;
GO

DECLARE @productPrice DECIMAL(10, 2) = 15.99;
DECLARE @productQuantity INT = 5;
DECLARE @totalPrice DECIMAL(10, 2);

SET @totalPrice = dbo.CalculateTotalPrice(@productPrice, @productQuantity);

PRINT 'Total price for ' + CAST(@productQuantity AS NVARCHAR(10)) + ' items at $' + CAST(@productPrice AS NVARCHAR(10)) + ' each, is $' + CAST(@totalPrice AS NVARCHAR(10));