Reset and prepare

In [1]:
USE master;
GO
DROP DATABASE IF EXISTS [dfu23e_variables];
GO
CREATE DATABASE [dfu23e_variables];
GO
USE [dfu23e_variables];

Basic variable + (PRINT)

In [2]:
DECLARE @myVar AS NVARCHAR(100) = 'Hello, World';
PRINT @myVar;

Basic variable + (SELECT)

In [3]:
DECLARE @myVar AS NVARCHAR(100) = 'Hello, World';
SELECT @myVar;

(No column name)
"Hello, World"

Basic variable + (SELECT AS name)

In [4]:
DECLARE @myVar AS NVARCHAR(100) = 'Hello, World';
SELECT @myVar AS [fieldName];

fieldName
"Hello, World"

Basic variable with error

In [5]:
DECLARE @myVar AS NVARCHAR(100) = 'Hello, World';
GO

PRINT @myVar

: Msg 137, Level 15, State 2, Line 4
Must declare the scalar variable "@myVar".

Variable with tables

In [ ]:
DROP TABLE IF EXISTS [books];
CREATE TABLE [books] (
    [id] INT NOT NULL IDENTITY(1, 1) PRIMARY KEY,
    [title] NVARCHAR(100) NOT NULL,
    [author] NVARCHAR(100) NOT NULL
)

DECLARE @myTable AS TABLE (
    [id] INT NOT NULL IDENTITY(1, 1) PRIMARY KEY,
    [title] NVARCHAR(100) NOT NULL,
    [author] NVARCHAR(100) NOT NULL
)

INSERT INTO @myTable VALUES
    ('The Hot Zone', 'Richar Preston'),
    ('Could Storage', 'David Koepp')


SELECT * FROM @myTable;

SELECT * FROM [books];

INSERT INTO [books] ([title], [author])
    SELECT [title], [author] FROM @myTable;

SELECT * FROM [books];

TRUNCATE TABLE [books];

INSERT INTO [books] ([author], [title])
    SELECT [title], [author] FROM @myTable;

SELECT * FROM [books];

Assign data from table to variable

In [ ]:
DROP TABLE IF EXISTS [users];

CREATE TABLE [users] (
    [id] INT NOT NULL IDENTITY(313, 1) PRIMARY KEY,
    [name] NVARCHAR(100) NOT NULL,
);

INSERT INTO [users] VALUES ('Stony Brooks');

DECLARE @name NVARCHAR(100);

SELECT @name = [name] FROM [users] WHERE [id] = 313;

PRINT @name;