### **01: Database procedures og funktioner** (Ja der er fuckups med capitalization ved 'id')

In [63]:
-- https://cloud.kjc.dk/s/RKKcNrst4kzsiFa
-- USER sa / PASSWORD: Ladida.12

USE master;
GO
ALTER DATABASE [StudentRegistration] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
GO
DROP DATABASE IF EXISTS [StudentRegistration];
GO
CREATE DATABASE [StudentRegistration];
GO
USE [StudentRegistration];

In [64]:
CREATE TABLE Students (
    Studentid int IDENTITY(1,1) PRIMARY KEY,
    FirstName varchar(255),
    LastName varchar(255),
    PhoneNumber VARCHAR(8),
    DateOfBirth DATE
);

CREATE TABLE Courses (
    CourseId int IDENTITY(1,1) PRIMARY KEY,
    CourseName varchar(100),
    CourseDescription varchar(100),
    CourseStartDate DATE,
    CourseEndDate DATE
);

In [65]:
-- Linking table for students + courses

CREATE TABLE StudentCourses (
    StudentCourseid int IDENTITY(1,1) PRIMARY KEY,
    Studentid int FOREIGN KEY REFERENCES students(StudentID),
    CourseId int FOREIGN KEY REFERENCES Courses(CourseId)
);

In [66]:
INSERT INTO Courses
VALUES
    ('Biology', 'N/A', '20200101', '20220101'),
    ('English', 'N/A', '20200101', '20220101'),
    ('Math', 'N/A', '20200101', '20220101'),
    ('Chemistry', 'N/A', '20200101', '20220101'),
    ('Religion', 'N/A', '20200101', '20220101'),
    ('Physics', 'N/A', '20200101', '20220101'),
    ('Music', 'N/A', '20200101', '20220101')
    ;

In [67]:
INSERT INTO Students
VALUES
    ('Hans', 'Pilgaard', '12345678', '20000101'),
    ('Lars', 'Eriksen', '87654321', '20050101'),
    ('Erica', 'Jensen', '11111111', '20070505'),
    ('Julie', 'Gulli', '77777777', '20000101'),
    ('Asker', '', '', ''),
    ('Ulrik', '', '', ''),
    ('Josephine', '', '', ''),
    ('Cecilie', '', '', ''),
    ('Peter', '', '', ''),
    ('Sarah', '', '', ''),
    ('Clara', '', '', ''),
    ('BÃ¸rge', '', '', '')
    ;

In [68]:
INSERT INTO StudentCourses
VALUES
    (1,1),
    (1,2),
    (1,3),
    (1,4),
    (1,5),
    (1,6),
    (1,7),
    (2,2),
    (3,2),
    (4,2),
    (5,2),
    (6,2),
    (7,3),
    (8,3),
    (9,3),   
    (10,3)
    ;

In [69]:
Select * FROM Students

Studentid,FirstName,LastName,PhoneNumber,DateOfBirth
1,Hans,Pilgaard,12345678,2000-01-01
2,Lars,Eriksen,87654321,2005-01-01
3,Erica,Jensen,11111111,2007-05-05
4,Julie,Gulli,77777777,2000-01-01
5,Asker,,,1900-01-01
6,Ulrik,,,1900-01-01
7,Josephine,,,1900-01-01
8,Cecilie,,,1900-01-01
9,Peter,,,1900-01-01
10,Sarah,,,1900-01-01
11,Clara,,,1900-01-01
12,BÃ¸rge,,,1900-01-01

In [70]:
Select * FROM Courses

CourseId,CourseName,CourseDescription,CourseStartDate,CourseEndDate
1,Biology,N/A,2020-01-01,2022-01-01
2,English,N/A,2020-01-01,2022-01-01
3,Math,N/A,2020-01-01,2022-01-01
4,Chemistry,N/A,2020-01-01,2022-01-01
5,Religion,N/A,2020-01-01,2022-01-01
6,Physics,N/A,2020-01-01,2022-01-01
7,Music,N/A,2020-01-01,2022-01-01

In [71]:
CREATE PROCEDURE spAddStudent @FirstName varchar(255), @LastName varchar(255), @PhoneNumber VARCHAR(8), @DateOfBirth DATE
AS
INSERT INTO Students
VALUES (@FirstName, @LastName, @PhoneNumber, @DateOfBirth)
GO

In [72]:
EXEC [dbo].[spAddStudent]
@FirstName = 'Karl',
@LastName = 'Fazer',
@PhoneNumber = '99999999',
@DateOfBirth = '19990101'
GO

In [73]:
Select * FROM Students

Studentid,FirstName,LastName,PhoneNumber,DateOfBirth
1,Hans,Pilgaard,12345678,2000-01-01
2,Lars,Eriksen,87654321,2005-01-01
3,Erica,Jensen,11111111,2007-05-05
4,Julie,Gulli,77777777,2000-01-01
5,Asker,,,1900-01-01
6,Ulrik,,,1900-01-01
7,Josephine,,,1900-01-01
8,Cecilie,,,1900-01-01
9,Peter,,,1900-01-01
10,Sarah,,,1900-01-01
11,Clara,,,1900-01-01
12,BÃ¸rge,,,1900-01-01
13,Karl,Fazer,99999999,1999-01-01

In [74]:
CREATE PROCEDURE spAddCourse @CourseName varchar(100), @CourseDescription varchar(100), @CourseStartDate DATE, @CourseEndDate DATE
AS
INSERT INTO Courses
VALUES (@CourseName, @CourseDescription, @CourseStartDate, @CourseEndDate)
GO

In [75]:
EXEC [dbo].[spAddCourse]
@CourseName = 'Chemistry',
@CourseDescription = 'Something about something',
@CourseStartDate = '20100101',
@CourseEndDate = '20120101'
GO

In [76]:
Select * FROM Courses

CourseId,CourseName,CourseDescription,CourseStartDate,CourseEndDate
1,Biology,N/A,2020-01-01,2022-01-01
2,English,N/A,2020-01-01,2022-01-01
3,Math,N/A,2020-01-01,2022-01-01
4,Chemistry,N/A,2020-01-01,2022-01-01
5,Religion,N/A,2020-01-01,2022-01-01
6,Physics,N/A,2020-01-01,2022-01-01
7,Music,N/A,2020-01-01,2022-01-01
8,Chemistry,Something about something,2010-01-01,2012-01-01

In [77]:
CREATE PROCEDURE spAssignStudentToCourse @Studentid int, @CourseId int
AS
INSERT INTO StudentCourses
VALUES (@Studentid, @CourseId)
GO

In [78]:
EXEC [dbo].[spAssignStudentToCourse]
@Studentid = 4,
@CourseId = 8
GO

In [79]:
SELECT Students.FirstName, Courses.CourseName
FROM StudentCourses
INNER JOIN Students ON StudentCourses.Studentid = Students.Studentid
INNER JOIN Courses ON StudentCourses.CourseId = Courses.CourseId;

FirstName,CourseName
Hans,Biology
Hans,English
Hans,Math
Hans,Chemistry
Hans,Religion
Hans,Physics
Hans,Music
Lars,English
Erica,English
Julie,English
Asker,English
Ulrik,English
Josephine,Math
Cecilie,Math
Peter,Math
Sarah,Math
Julie,Chemistry

In [80]:
Create PROCEDURE spGetStudentCourses @Studentid int
AS
BEGIN
    SELECT Students.FirstName, Courses.CourseName
    FROM StudentCourses
    INNER JOIN Students ON StudentCourses.Studentid = Students.Studentid
    INNER JOIN Courses ON StudentCourses.CourseId = Courses.CourseId WHERE StudentCourses.Studentid = @Studentid;
END
Go

In [87]:
EXEC [dbo].[spGetStudentCourses]
@Studentid = 1
GO

FirstName,CourseName
Hans,Biology
Hans,English
Hans,Math
Hans,Chemistry
Hans,Religion
Hans,Physics
Hans,Music

In [82]:
CREATE PROCEDURE spGetCoursesStudents @CourseId int
AS
BEGIN
    SELECT Courses.CourseName, Students.FirstName
    FROM StudentCourses
    INNER JOIN Courses ON StudentCourses.CourseId = Courses.CourseId
    INNER JOIN Students ON StudentCourses.Studentid = Students.Studentid WHERE StudentCourses.CourseId = @CourseId;
END
Go

In [86]:
EXEC [dbo].[spGetCoursesStudents]
@CourseId = 2
GO

CourseName,FirstName
English,Hans
English,Lars
English,Erica
English,Julie
English,Asker
English,Ulrik

### **02: Transactions og stored procedures**

In [90]:
USE master;
GO
ALTER DATABASE [EShopOnWeb] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
GO
DROP DATABASE IF EXISTS [EShopOnWeb];
GO
CREATE DATABASE [EShopOnWeb];
GO
USE [EShopOnWeb];

In [91]:
CREATE TABLE Products (
    ProductId int IDENTITY(1,1) PRIMARY KEY,
    ProductName varchar(100),
    Price decimal(10,2),
    Quantity int
);

CREATE TABLE Orders (
    OrdersId int IDENTITY(1,1) PRIMARY KEY,
    ClientId int,
    ProductId int FOREIGN KEY REFERENCES Products(ProductId),
    Amount int,
    OrderDate DATE
);

In [92]:
INSERT INTO Products
VALUES
    ('Door', 200, 10),
    ('Sofa', 300, 10),
    ('TV', 1000, 10),
    ('Chair', 50, 10),
    ('Table', 150, 10),
    ('Plate', 50, 10),
    ('Fork', 10, 10),
    ('Knife', 10, 10),
    ('Spoon', 10, 10),
    ('Glass', 20, 10)
    ;

In [209]:
ALTER PROCEDURE spOrderItems @ClientId int, @ProductId int, @Quantity int
AS
BEGIN
    BEGIN TRANSACTION
        BEGIN TRY
            IF (@Quantity > (SELECT Quantity FROM Products WHERE ProductId = @ProductId))
            BEGIN
                ROLLBACK TRANSACTION
                PRINT 'Not enough items in stock'
                RETURN
            END

            UPDATE Products SET Quantity = Quantity - @Quantity WHERE ProductId = @ProductId

            INSERT INTO Orders VALUES (@ClientId, @ProductId, @Quantity, GETDATE());

            COMMIT TRANSACTION
        END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
    END CATCH
END
GO

In [218]:
EXEC [dbo].[spOrderItems]
@ClientId = 1,
@ProductId = 3,
@Quantity = 3
GO
Select * FROM Products
Select * FROM Orders

-- It works, but it is not done the right way?

ProductId,ProductName,Price,Quantity
1,Door,200.00,0
2,Sofa,300.00,10
3,TV,1000.00,2
4,Chair,50.00,10
5,Table,150.00,10
6,Plate,50.00,10
7,Fork,10.00,10
8,Knife,10.00,10
9,Spoon,10.00,10
10,Glass,20.00,10

OrdersId,ClientId,ProductId,Amount,OrderDate
1,1,1,5,2023-09-14
2,1,1,5,2023-09-14
3,1,3,5,2023-09-14
4,1,3,3,2023-09-14

In [207]:
UPDATE Products
SET Quantity = 10

In [219]:
CREATE PROCEDURE spReturnItems @ClientId int, @ProductId int, @Quantity int
AS
BEGIN
    BEGIN TRANSACTION
        BEGIN TRY
            IF (@Quantity < 1)
            BEGIN
                ROLLBACK TRANSACTION
                PRINT 'Cannot return items if they do not exist???'
                RETURN
            END

            UPDATE Products SET Quantity = Quantity + @Quantity WHERE ProductId = @ProductId

            INSERT INTO Orders VALUES (@ClientId, @ProductId, -@Quantity, GETDATE());

            COMMIT TRANSACTION
        END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
    END CATCH
END
GO

In [ ]:
EXEC [dbo].[spReturnItems]
@ClientId = 1,
@ProductId = 3,
@Quantity = 3
GO
Select * FROM Products
Select * FROM Orders

-- It works, but it is not done the right way?